{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a model</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href= "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
    <body class="bg-secondary">
        <div class= "container shadow-sm text-center">
            <h2 class="display-2">Create a new Employee</h2>
            <div class="text-center">
                <form method="POST" id="employeeForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                    <button type="submit" form="employeeForm" class="btn btn-primary">Create</button>
                    <button type="button" form="employeeForm" id="clean" onclick="clearFormFields()" class="btn btn-danger">Clear the fields</button>
                </form>
                {% if errors %}
                    <ul>
                    {% for field, error_list in errors.items %}
                        {% for error in error_list %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if exist__error %}<p id="exist__error" class="text-danger"><strong>{{ exist__error }}</strong></p>{% endif %}
                {% if success_message %}<p id="success_message" class="text-success"><strong>{{ success_message }}</strong></p>{% endif %}
            </div>
            <br>
                <a href="{% url 'index' %}"><i class="bi bi-arrow-left-square-fill btn-lg" style="font-size: 50px"></i></a>
        </div>
    </body>
        <script>
            function clearFormFields() {
                let form = document.querySelector('#companyForm');
                form.elements.id_name.value = '';
                form.elements.id_speciality.value = '';
                form.elements.id_locate.value = '';
            }
            let clearButton = document.querySelector('#clean');
            clearButton.addEventListener('click', clearFormFields);
        </script>
</html>
